{{#> layout }}
  <div>
    <p style="margin-bottom: 4px;">
      Hello,
    </p>
    <p>
      Your backup is ready.
      Go to your admin center to download, <a href="{{ url }}/admin-center" target="_blank">here</a>
    </p>    <p>
      Best regards,<br>
      Tella Team
    </p>
  </div>
{{/layout}}